[user]
  name = Luke Ramljak
  email = 71169775+lukeramljak@users.noreply.github.com
[core]
  editor = nvim
  pager = delta
[color]
  ui = true
[credential]
  helper = store
[init]
  defaultBranch = main
[push]
  default = current
  autoSetupRemote = true
[alias]
  undo = reset --soft HEAD^
